.masterView{
    align-content: center;
    margin: 0 auto;
   /* width:80% *//* value of your choice which suits your alignment */
}
form {
    text-align: center;
    font-family: Helvetica;
}
h1{
    text-align: center;
    font-family: Helvetica;
}
a {
    font-family: Helvetica;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

#currentSchool {
    font-family: Helvetica;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    background-color:white
}

/*tr:nth-child(even) {
    background-color: #8df7c5;
}
*/

nav{
    margin:0px;
    padding-bottom:0px;
}

.navbar{
    width:100%;
    height:80px;
    background-color:#FF5437;
    padding:0px;
    font-size: 29px;
    color:white;
    border: 0px;
    margin-bottom:0px;
}

.navbar a{
    color:white;
    font-size:29px;
    margin-top:10px;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}
.navBarItem-right {
    text-align: right;
    padding-top: 15px;
    padding-right: 10px;
}

.jumbotron{
    margin-top:0px;
    margin:0px;
    margin-bottom:0px;
    background-size: cover;
}

/* Global setting for all ui buttons in project */
.Button{
    width:60px;
    height:45px;
    font-size:0.75em;
    background-color:#FF5437;
    border: none;
    color:white
}

.Button:hover {
  background-color:#E54B31;
}

body{
    background-color:#EEEEEE;
    margin:0
}

.container {
    align-content: center;
}

/*profile page styles*/
.profileSubviewContainers {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

#diet-tags > p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 200;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  #new-user-profile-pic {
      align-content: center;
  }

input {
    width: 90px;
    height: 15px;
    font-size: 10px;
}
#group-chat-container {
    border: 1px solid grey;
    padding: 5px;
}
#person-A-chat {
    float: left;
    border: 1px solid green;
    background-color: rgb(87, 134, 87);
    border-radius: 5px;
}
#person-B-chat {
    float: right;
    border: 1px solid #2699FB;
    background-color: rgb(109, 187, 255);
    border-radius: 5px;
}
ul {
    list-style-type: none;
    font-size: 12px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2699FB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0480ea;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #2699FB;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.confirmation {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    border: 3px solid #2699FB;
    padding: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height:45%
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

