<!DOCTYPE html>
<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../style.css">
<title></title>

<style>
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

</style>
</head>

<body style="margin:0px">

    <div id="NavBar">
        <div style="float:left;align-content: center;padding-left: 10px;padding-top: 15px">
            <a href="../index.html" >WeOrder</a>
        </div>
        <div style="float:right;align-content: center;padding-right: 10px;padding-top: 15px">
            <a href="checkoutScreen.html">Cart</a>
        </div>
    </div>
<div style="text-align:left">
    <p> <a href="restaurantList.html">Restaurant List </a> > <a href="menueList.html">Menu List</a> > <b>Checkout</b> > Confirmation </p>
</div>
<h1>Review Page</h1>
<div>
    <table id="confirmation" style="width:90%" align="center">
        <tr id="noItems">
            <td>
                <p style="text-align:center">No Items in cart</p>
                <p style="text-align:center"><a href="restaurantList.html">Click here to return to Resturant page</a></p>
            </td>
        </tr>
    </table>
</div>


<div id="itemPresent" style="width:50%;background-color:white;text-align:center;padding:15px;margin:0 auto;visibility:visible">
    <h3>Pick up Time</h3>
    <p>11/22/18 at 12:00pm</p>
    <h3>Delivery Instructions</h3>
    <form>
        <input type="text" id="instructions" style="width:500px;height:100px" value="">
    </form>
    <form action="paymentConfirmationPage.html" id="confirm">
        <button style="text-align:center;margin:0 auto;" id="conf" class="Button deleteCart"> Confirm Purchase</button>
    </form>
</div>

<!-- Template for Cart List-->
<script id="confirmTemplate" type="text/x-handlebars-template">
    <tr>
        <td> 
            <h3 style="text-align: center">{{dishname}} (Using Vanilla CSS)</h3>
            <img style="float:left" src="{{dishimg}}" alt="{{dishname}}" height="100px" width="150px">
            <div style="margin-left:18%">
                <h4>Price:</h4>
                <h4>Resturant:</h4>
                <h4>Ingredients:</h4>
                <button style="text-align:center;display:block" name="{{dishname}}" class="Button removeItem">Remove Item</button>
            </div>
            <form style="float:right">
                <div>
                    <input type="number" name="partridge" id="partridge" min="1" value="{{quantity}}">
                </div>
                <button style="display:inline-block" name="{{dishname}}" class="Button changeQuant">Change Quantity</button>
            </form>
        </td>
    </tr>
</script>

<script src="../handlebars-v4.0.12.js"></script>
<script src="../checkout.js"></script>
</body>
</html>