<!DOCTYPE html>
<html>
<head>
    <title>WeOrder</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../Scripts/restaurantListSCRIPT.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="margin:0px">

    <div id="NavBar">
        <div style="float:left;align-content: center;padding-left: 10px;padding-top: 15px">
            <a href="../index.html" >WeOrder</a>
        </div>
        
        <div  style="float:right;align-content: center;padding-right: 10px;padding-top: 15px">
            <a href="checkoutScreen.html">Cart</a>
        </div>
    </div>

    <h1>Menu List</h1>
    <div class="tableViewContainer">
        <table id="menu" style="width: 90%;" align="center">
            <tr name="burger">
                <td width="100px">
                    <!--want to add js popup modal to show details of food 
                        when user clicks on image-->    
                        <img style="text-align:left"src="../Images/burger.jpg" alt="burger" height="100px" width="150px">
                </td>
                
                <td style="text-align:center">
                    
                    <h3>Dish 1</h3>
                    <h4>Description of Dish</h4>
                
                </td>
            
                <td width="75px">             
                    <form>
                            <div name="ok">
                                <label for="name">Quantity</label>
                                <input type="number" name="burger" min="0" value="1">
                            </div>
                            <button style="display:inline-block" name="burger" class="Button addItem">Add to Cart</button>
                        </form>     
                </td>
                
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/kbbq.jpg" alt="kbbq" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 2</h3>
                            <h4>Description of Dish</h4>
                            <div class = "tooltip"> Alert! 
                                <span class="tooltiptext"> Possible Peanut Allergy </span>
                            </div>
                        </td>
                    
                        <td width="75px">        
                                <form>
                                        <div>
                                            <label for="name">Quantity</label>
                                            <input type="number" name="kbbq" min="0" value="1">
                                        </div>
                                            <button style="display:inline-block" name="kbbq" class="Button addItem">Add to Cart</button>
                                    </form>
                        </td>
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/ramen.jpg" alt="ramen" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 3</h3>
                            <h4>Description of Dish</h4>
                        </td>
                    
                        <td width="75px">        
                                <form>
                                        <div>
                                            <label for="name">Quantity</label>
                                            <input type="number" name="ramen" min="0" value="1">
                                        </div>
                                            <button style="display:inline-block" name="ramen" class="Button addItem">Add to Cart</button>
                                    </form>
                        </td>
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/vietnamese-pho.jpg" alt="vietnamese-pho" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 4</h3>
                            <h4>Description of Dish</h4>
                        </td>
                    
                        <td width="75px">        
                                <form>
                                        <div>
                                            <label for="name">Quantity</label>
                                            <input type="number" name="vietnamese-pho" min="0" value="1">
                                        </div>
                                            <button style="display:inline-block" name="vietnamese-pho" class="Button addItem">Add to Cart</button>
                                    </form>
                        </td>
            </tr>
        </table>
    </div>

    <div>
            <h1 style="text-align: center">Items in Cart</h1>

            <table id="cart" style="width:90%" align="center">
                <tr id="noItems">
                    <td> 
                        <p style="text-align:center">No Items Currently in Cart.</p>
                    </td>
                </tr>
                <tr id="cartList">
                    
                </tr>
            </table>
    </div>

    <form style="margin-top:10px" action="checkoutScreen.html">
        <!-- <input style="width:50%;height: 40px"  type="text" placeholder="Search For Your School" id="schoolSelection"> -->
         <button class="Button" type="submit"> Proceed to Checkout </button>
     </form>

     
<!-- Template for Adding Items to Cart -->
<script id="cartTemplate" type="text/x-handlebars-template">
    <td id="item"> 
        <h3 style="text-align: center">{{dishname}}</h3>
        <img style="margin-left:auto;margin-right:auto" src="{{dishimg}}" alt="{{dishname}}" height="100px" width="150px">
        <form>
            <div id="quant">
                <input type="number" name="{{dishname}}" id="partridge" min="1" value={{quantity}}>
            </div>
            <button style="display:inline-block" name="{{dishname}}" class="Button changeQuant" type="button">Change Quantity</button>
        </form>
        <button style="text-align:center" name="{{dishname}}" class="Button removeItem">Remove Item</button>
    </td>
</script>


<script src="../handlebars-v4.0.12.js"></script>
<script>

</script>
<script src="../menu.js"></script>
</body>
</html>