<!DOCTYPE html>
<html>
<head>
    <title>WeOrder</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../Scripts/restaurantListSCRIPT.js"></script>
</head>

<body style="margin:0px">

    <div id="NavBar">
        <div style="float:left;align-content: center"><a href="../index.html" >Logo</a></div>
        <div style="text-align: center">Choose School</div>
        <div style="text-align: right"><a href="profilePage.html">Profile</a></div>
    </div>

    <h1>Menu List</h1>
    <div class="tableViewContainer">
        <table style="width: 90%;" align="center">
            <tr>
                <td width="100px">
                    <!--want to add js popup modal to show details of food 
                        when user clicks on image-->    
                        <img style="text-align:left"src="../Images/burger.jpg" alt="burger" height="100px" width="150px">
                </td>
                
                <td style="text-align:center">
                    <h3>Dish 1</h3>
                    <h4>Description of Dish</h4>
                </td>
            
                <td width="75px">             
                         <a href="checkoutScreen.html" style="display:block;margin:10px">Add to Cart</a>
                         <a href="checkoutScreen.html" style="display:block;margin:10px">Pick up Location</a>
                </td>
                
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/kbbq.jpeg" alt="burger" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 2</h3>
                            <h4>Description of Dish</h4>
                        </td>
                    
                        <td width="75px">        
                                <a href="checkoutScreen.html" style="display:block;margin:10px">Add to Cart</a>
                         <a href="checkoutScreen.html" style="display:block;margin:10px">Pick up Location</a>
                        </td>
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/ramen.jpg" alt="burger" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 3</h3>
                            <h4>Description of Dish</h4>
                        </td>
                    
                        <td width="75px">        
                                <a href="checkoutScreen.html" style="display:block;margin:10px">Add to Cart</a>
                                <a href="checkoutScreen.html" style="display:block;margin:10px">Pick up Location</a>
                        </td>
            </tr>

            <tr>
                    <td width="100px">
                            <!--want to add js popup modal to show details of food 
                                when user clicks on image-->    
                                <img style="text-align:left"src="../Images/vietnamese-pho.jpg" alt="burger" height="100px" width="150px">
                        </td>
                        
                        <td style="text-align:center">
                            <h3>Dish 4</h3>
                            <h4>Description of Dish</h4>
                        </td>
                    
                        <td width="75px">        
                                <a href="checkoutScreen.html" style="display:block;margin:10px">Add to Cart</a>
                                <a href="checkoutScreen.html" style="display:block;margin:10px">Pick up Location</a>
                        </td>
            </tr>
        </table>
    </div>

</body>
</html>