<!DOCTYPE html>
<html>

<head>
	<title>WeOrder</title>
	<script src="../Scripts/restaurantListSCRIPT.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../style.css">


</head>

<body style="margin:0px">

	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index.html">WeOrder</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a id ="restrictions" href="#">Alert Tags</a></li>
				<li><a id="recentOrders" href="#">Recent Orders</a></li>
				<li><a href="checkoutScreen.html">Cart</a></li>
			</ul>
		</div>
	</nav>


	<div class="container-fluid" style="padding-top:0px">
		<div class="row">
			<div class="col-md-9 col-lg-9" style="padding-left:20px">
				<div style="text-align:left; padding-top:20px">
					<p> <a href="../index.html" style="color:#FF9C5B">Home</a> > <a href="restaurantList.html" style="color:#FF9C5B">Restaurant List</a> > <b style="color:#ed303c">Menu List</b> > Checkout > Confirmation </p>
				</div>
				<h1 style="padding-left:10px"><b>Menu</b></h1>
				<h5 style="padding-bottom:20px;padding-left:10px;text-align:center"><b><a href="http://www.in-n-out.com/menu.aspx" target="_blank">View Full Menu At Restaurant's site</a></b></h5>
				<div id="menu" class="container-fluid">
					<div class="row" style="padding-top:30px;padding-bottom:30px">
						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Burger</b></h3>
										<h5 ><b>Ingredients</b>:<span id="menu1" class="tagCheck">Beef, Wheat, Cheese, Lettuce, Tomato, Secret Sauce</span></h5>
										<h5><b>Price</b>: $5</h5>
									</div>

									<div class="col-md-6 col-lg-6" style="padding-top:35px">
										<form>
											<div name="ok">
												<label for="name">Quantity</label>
												<input type="number" name="burger" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="burger" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Korean BBQ</b></h3>
										<h5><b>Ingredients</b>:<span id="menu2" class="tagCheck">Beef, Pork</span></h5>
										<h5><b>Price</b>: $20</h5>
									</div>

									<div class="col-md-6 col-lg-6" style="padding-top:35px">
										<form>
											<div>
												<label for="name">Quantity</label>
												<input type="number" name="kbbq" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="kbbq" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!---->
					<div class="row" style="padding-top:30px;padding-bottom:30px">
						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Ramen</b></h3>
										<h5><b>Ingredients</b>: <span id="menu3" class="tagCheck">Beef, Noodles, Chicken Broth</span></h5>
										<h5><b>Price</b>: $15</h5>
									</div>

									<div class="col-md-6 col-lg-6" style="padding-top:35px">
										<form>
											<div>
												<label for="name">Quantity</label>
												<input type="number" name="ramen" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="ramen" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Pho</b></h3>
										<h5><b>Ingredients</b>: <span id="menu4" class="tagCheck">Beef, Noodles, Chicken Broth</span></h5>
										<h5><b>Price</b>: $8</h5>
									</div>

									<div class="col-md-6 col-lg-6" style="padding-top:35px">
										<form>
											<div>
												<label for="name">Quantity</label>
												<input type="number" name="vietnamese-pho" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="vietnamese-pho" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="padding-top:30px;padding-bottom:30px">
						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Ramen</b></h3>
										<h5><b>Ingredients</b>: <span id="menu5" class="tagCheck">Pork, Noodles, Chicken Broth</span></h5>
										<h5><b>Price</b>: $15</h5>
									</div>

									<div class="col-md-6 col-lg-6 container-fluid" style="padding-top:35px">
										<form class="container-fluid">
											<div>
												<label for="name">Quantity</label>
												<input type="number" name="ramen" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="ramen" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-6">
							<div class="container-fluid menuList">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<h3><b>Ramen</b></h3>
										<h5><b>Ingredients</b>: <span id="menu6" class="tagCheck">Beef, Noodles, Chicken Broth, Peanuts</span></h5>
										<h5><b>Price</b>: $15</h5>
									</div>

									<div class="col-md-6 col-lg-6" style="padding-top:35px">
										<form>
											<div>
												<label for="name">Quantity</label>
												<input type="number" name="ramen" min="0" value="1">
											</div>
											<button style="display:inline-block;width:100px" name="ramen" class="Button addItem">Add to Cart</button>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!---->
				</div>

			</div>

			<div class="col-md-3 col-lg-3" style="float:right;padding-right:0px">
				<div style="background-color:white;height:90vh;padding-bottom:50px">
					<h2 style="text-align:center;margin-top:0px;padding-top:20px"><b>Cart</b></h2>
					<h4 id="noItems" style="color:gray;text-align:center;padding-top:25px">No Items Currently In Cart</h4>

					<table id="cart" style="width: 80%" align="center">
						<tr id="cartList">

						</tr>
					</table>

					<form style="margin-top:10px" action="checkoutScreen.html">
						<button style="width:100px" id="checkout" class="Button" type="submit"> Proceed to Checkout </button>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3 style="text-align: center">Past Orders</h3>

			<table id="recentOrderItems" style="width:90%" align="center">
				<tr id="noRecentOrder">
					<td>
						<p style="text-align:center">No Past Orders</p>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<!-- Template for Cart List-->
	<script id="recentOrderTemplate" type="text/x-handlebars-template">
		<tr>
			<td style="text-align:center">
				<p>{{[prevOrder]}}</p>
			</td>
		</tr>
	</script>

	<!-- Template for Adding Items to Cart -->
	<script id="cartTemplate" type="text/x-handlebars-template">
		<tr>
			<td id="item" style="width:100%;padding:5px;">
				<h3 style="text-align: center">{{dishname}}</h3>
			</td>
			<td style="padding:5px;text-align:center">
				<form>
					<div id="quant">
						<input style="margin-top:10px" type="number" name="{{dishname}}" id="partridge" min="1" value={{quantity}}>
					</div>
					<button style="display:inline-block;margin-top:10px;margin-bottom:5px" name="{{dishname}}" class="Button changeQuant" type="button">Change Quantity</button>
				</form>
				<a class="removeItem" name="{{dishname}}" style="text-align:center" href="#">Remove</a>
			</td>
		</tr>
	</script>

	<!-- Template for Adding Alert Tags -->
	<script id="alertTagTemplate" type="text/x-handlebars-template">
		<div style="background-color:#ed303c;width:50%;margin-top:5px;padding:1.5px;text-align:center">
				<button class="removeTag" name="{{aTag}}" style="background-color:transparent;color:white;float:left;border:none">&#10006;</button>
				<h4 style="display:inline;color:white">{{aTag}}</h4>
		</div>
	</script>

	<!-- The Modal -->
	<div class="modalAlert">
		<!-- Modal content -->
		<div class="modal-content">
			<button style="background-color:transparent" class="close">&times;</button>
			<h2 style="text-align: center"><b>Alert Tags</b></h2>
			<h6 style="text-align:center">Adding Tags will highlight specific ingredients in red.</h6>
			
			<div style="text-align:center">
				<input type="text" id="instructions" style="width:120px;height:35px;margin-bottom:20px" value="">
				<button class="Button addTag" style="display:inline;">Add</button>
			</div>
			
			<div id="alertTags" style="background-color:whitesmoke;text-align:center;margin:auto;padding:30px;padding-top:5px;width:75%">
				<h3 style="margin-top:0px">Current Tags</h3>
				<div id="curTags" class="container-fluid" align="center">
					
				</div>

			</div>
		</div>
	</div>


	<script src="../handlebars-v4.0.12.js"></script>
	<script>
		$("#confirmation").find("tr").eq(1).css("color", "red");

	</script>
	<script src="../menu.js"></script>
</body>

</html>
