<!DOCTYPE html>
<html>

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../style.css">

	<title>WeOrder</title>
</head>

<body style="margin:0px">

	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index.html">WeOrder</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="recentOrders" href="#">Recent Orders</a></li>
				<li><a href="checkoutScreen.html">Cart</a></li>
			</ul>
		</div>
	</nav>

	<div style="text-align:left;padding-left:20px; padding-top:20px">
		<p> <a href="../index.html" style="color:#FF9C5B">Home</a> > <a href="restaurantList.html" style="color:#FF9C5B">Restaurant List</a> > <a href="menueList.html" style="color:#FF9C5B">Menu List</a> > <a href="checkoutScreen.html" style="color:#FF9C5B"> Checkout</a> > <b style="color:#ed303c">Confirmation</b> </p>
	</div>

	<div id="review" align="center" style="background-color:white;color:black;font-family: Arial, Helvetica, sans-serif">
		<h1>Payment Confirmation Page</h1>
		<h2>Your Order has been Processed!</h2>
		<p>Here is a summary of your order</p>
		<div id="order">

		</div>

		<p>Confirmation Number: C120</p>

		<div id="orders">


		</div>

		<div>
			<p>Instructions</p>
			<p id="instruct">NA</p>
		</div>
		<form action="../index.html">
			<button class="Button" id="deleteCart" type="submit">Return to Home Page</button>
		</form>

	</div>


	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3 style="text-align: center">Past Orders</h3>

			<table id="recentOrderItems" style="width:90%" align="center">
				<tr id="noRecentOrder">
					<td>
						<p style="text-align:center">No Past Orders</p>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<script src="../handlebars-v4.0.12.js"></script>

	<!-- Template for Cart List-->
	<script id="recentOrderTemplate" type="text/x-handlebars-template">
		<tr>
			<td style="text-align:center">
				<p>{{[prevOrder]}}</p>
			</td>
		</tr>
	</script>



	<script>
		//Local Storage: Cart Data
		var orderData = JSON.parse(sessionStorage.getItem('orders'));

		var validOrder = JSON.parse(sessionStorage.getItem('orders'));


		// No Items Message + confirmation button   
		if (validOrder != null) {
			console.log("order data Length =" + orderData.length);
			var latestOrder = orderData[orderData.length - 1].prevOrder.split(',');
			console.log("latestOrder length =" + latestOrder.length);
			for (var i = 1; i < latestOrder.length; i++) {
				$("#orders").append("<p>" + latestOrder[i] + "</p>");
				console.log("Latestorder =" + latestOrder[i]);
			}
			console.log(latestOrder);

		} else {
			console.log("not working")
		}

	</script>

	<script>
		var instruction = JSON.parse(sessionStorage.getItem('instr'));
		var validInstruc = sessionStorage.getItem('instr');
		console.log(validInstruc);
		if (validInstruc != null) {
			$("#instruct").html(instruction[0].instra);
		}

	</script>

	<script>
		/* @@@@@ Modal Window @@@@@ */
		$("#recentOrders").on("click", function() {
			$(".modal").css('display', 'block');
		});

		$(".close").on("click", function() {
			$(".modal").css('display', 'none')
		});

		// When the user clicks anywhere outside of the modal, close it
		$(window).click(function(event) {
			if (event.target == $(".modal")) {
				$(".modal").css("display", "none");
			}
		});


		/* @@@@@ Modal Content @@@@@ */
		//Local Storage: Cart Data
		var cartData = JSON.parse(sessionStorage.getItem('orders'));

		var validCart = JSON.parse(sessionStorage.getItem('orders'));

		//Handlebars Variables
		var sourceRecentOrder = $("#recentOrderTemplate").html();
		var templateRecentOrder = Handlebars.compile(sourceRecentOrder);
		var parentCartDiv = $("#recentOrderItems");


		// No Items Message + confirmation button   
		if (validCart != null) {
			$("#noRecentOrder").css('visibility', 'hidden');

			//Prints out current cart list
			for (var i = cartData.length - 1; i >= 0; i--) {
				var curOrder = cartData[i].prevOrder.split("");

				var curData = cartData[i];
				var curHtml = templateRecentOrder(curData);
				parentCartDiv.append(curHtml);
			}

		} else {
			$("#noRecentOrder").css('visibility', 'visible');
		}

		$("#recentOrderItems").find("tr").eq(1).css("color", "red");

	</script>
</body>

</html>
