<!DOCTYPE html>
<html>
<head>
    <!--Bootsrap css CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../Scripts/profile.js"></script>
    <title>WeOrder</title>
</head>

<body style="margin:0px">

    <div id="NavBar">
        <div style="float:left;align-content: center;padding-left: 10px;padding-top: 15px">
            <a href="../index.html" >WeOrder</a>
        </div>
        <div style="text-align: right;padding-top: 15px; padding-right: 10px;">
            <a href="profilePage.html">Profile</a>
        </div>
        <div style="float:right;text-align: right; padding-top: 10px;padding-right: 10px">
            <a href="checkoutScreen.html">Cart</a>
        </div>
    </div>

    <h1>Profile Page</h1>
    <!--Primary 3 column grid parent view-->
    <div class="container">
        <div class="row justify-content-between">
            <!--Left most column-->
            <div class="col-4">
                <h4>Diet Profile</h4>
                <div id="diet-tags" class="profileSubviewContainers">
                    <p>#tags:</p>
                    <button type="button" class="btn btn-outline-dark btn-sm">#Non-GMO</button>
                    <button type="button" class="btn btn-outline-dark btn-sm">#Organic</button>
                    <button type="button" class="btn btn-outline-dark btn-sm">#Dairy Free</button>
                </div>
                <h4>My Starred Places</h4>
                <div id="user-starred-places" class="profileSubviewContainers">
                    <button type="button" class="btn btn-outline-info btn-sm">Rakki Rakki</button>
                    <button type="button" class="btn btn-outline-info btn-sm">Boba</button>
                    <button type="button" class="btn btn-outline-info btn-sm">In n Out</button>

                </div>
            </div>
            <!--middle column-->
            <div class="col-4 text-center">
                <img src="../Images/profile-picture.png" id="current-picture" class="img-circle img-responsive" alt="profile pic">
                <input type="file" id="new-user-profile-pic" />
                <br />
                <h5 id="user-name">John Doe</h5>
                <p id="user-bday">Birthday: </p>

            </div>
            <!--Right most coloumn-->
            <div class="col-4">
                <h4>Chat</h4>
                <div id="group-chat-container">
                    <ul id="person-A-chat">
                        <li>Hey what do you want to order?</li>
                    </ul>
                    <ul id="person-B-chat">
                        <li>Something that'll get here in 20 minutes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Bootstrap JS Resources CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>