<!DOCTYPE html>
<html>
<head>
    <title>WeOrder</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../Scripts/restaurantListSCRIPT.js"></script>

    <style>
        .item1 { grid-area: name; }
        .item2 { grid-area: dish1; }
        .item3 { grid-area: dish2; }
        .item4 { grid-area: dish3; }
        
        .grid-container {
            display: grid;
            grid-template-areas:
            'name name name name'
            'dish1 dish2 dish3';
            grid-gap: 10px;
            background-color: #2196F3;
            padding: 10px;
        }
        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            font-size: 20px;
        } 

    </style>

</head>

<body style="margin:0px">

    <div id="NavBar">
        <div style="float:left;align-content: center"><a href="../index.html" >Logo</a></div>
        <div style="text-align: center">Choose School</div>
        <div style="text-align: right"><a href="profilePage.html">Profile</a></div>
        <div style="text-align: right"><a href="checkoutScreen.html">Cart</a></div>
    </div>

    <h1>Restaurants near UCSD</h1>
    <div class="tableViewContainer">
        <!--for now, table w/ 4 rows, will add this dynamically later-->
        <table style="width: 80%;" align="center">
            <tr>
                <td style="width:75px">
                   <p>Img of Restaurant 1</p> 
                </td>
                <td style="text-align:center">
                    <!--want to add js popup modal to show details of food
                        when user clicks on image-->
                    <div style="display:block;text-align: center">
                        <a href="menueList.html"><span style="font-size: 40px">Restaurant 1</span></a>
                        <h4>Menu Preview</h4>
                        <div style="margin-top:10px">
                                <figure style="display:inline-block;margin-right: 75px">
                                    <img src="../Images/burger.jpg" alt="burger" height="85px" width="100px">
                                    <figcaption style="text-align: center">Dish 1</figcaption>
                                </figure>         

                                <figure style="display:inline-block">
                                    <img src="../Images/burger.jpg" alt="burger" height="85px" width="100px" >
                                    <figcaption style="text-align: center">Dish 2</figcaption>
                                </figure>  
                                
                                <figure style="display:inline-block;margin-left: 75px">
                                    <img src="../Images/burger.jpg" alt="burger" height="85px" width="100px" >
                                    <figcaption style="text-align: center;">Dish 3</figcaption>
                                </figure>
                        </div>
                        
                    </div>
                    
                    
                    </div>

                </td>
                <td style="width:80px;background-color:#7FC4FD;color:white">
                 <a href="menueList.html">View Menu</a>
                </td>
            </tr>

            <tr>
                
                    <td style="width:75px">
                            <p>Img of Restaurant 2</p> 
                         </td>
                         <td style="text-align:center">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 2</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>

            <tr>
                    <td style="width:75px">
                            <p>Img of Restaurant 3</p> 
                         </td>
                         <td style="text-align:center">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 3</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img src="../Images/kbbq.jpeg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img src="../Images/kbbq.jpeg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img src="../Images/kbbq.jpeg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>

            <tr>
                    <td style="width:75px">
                            <p>Img of Restaurant 4</p> 
                         </td>
                         <td style="text-align:center">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 4</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img src="../Images/ramen.jpg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img src="../Images/ramen.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img src="../Images/ramen.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>
        </table>
    </div>

</body>
</html>

<!-- <img src="../Images/vietnamese-pho.jpg" alt="pho" height="42" width="42"> -->

<!--  <img src="../Images/kbbq.jpeg" alt="kbbq" height="42" width="42"> -->