<!DOCTYPE html>
<html>
<head>
    <title>WeOrder</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../Scripts/restaurantListSCRIPT.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    height:45%
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
    </style>

</head>

<body style="margin:0px">

        <div id="NavBar">
                <div style="float:left;align-content: center;padding-left: 10px;padding-top: 15px">
                    <a href="../index.html" >WeOrder</a>
                </div>
                <div style="text-align: right">
                    <a href="profilePage.html">Profile</a>
                </div>
                <div style="text-align: right">
                    <a href="checkoutScreen.html">Cart</a>
                </div>
            </div>        

    <h1>Restaurants near UCSB</h1>
    <div class="tableViewContainer">
        <!--for now, table w/ 4 rows, will add this dynamically later-->
        <table style="width: 90%;" align="center">
            <tr>
                <td style="width:200px">
                   <p>Img of Restaurant 1</p> 
                </td>
                <td style="text-align:center">
                    <!--want to add js popup modal to show details of food
                        when user clicks on image-->
                    <div style="display:block;text-align: center">
                        <a href="menueList.html"><span style="font-size: 40px">Restaurant 1</span></a>
                        <h4>Menu Preview</h4>
                        <div style="margin-top:10px">
                                <figure style="display:inline-block;margin-right: 75px">
                                    <img class="dish" src="../Images/burger.jpg" alt="burger" height="85px" width="100px">
                                    <figcaption style="text-align: center">Dish 1</figcaption>
                                </figure>         

                                <figure style="display:inline-block">
                                    <img class="dish" src="../Images/burger.jpg" alt="burger" height="85px" width="100px" >
                                    <figcaption style="text-align: center">Dish 2</figcaption>
                                </figure>  
                                
                                <figure style="display:inline-block;margin-left: 75px">
                                    <img class="dish" src="../Images/burger.jpg" alt="burger" height="85px" width="100px" >
                                    <figcaption style="text-align: center;">Dish 3</figcaption>
                                </figure>
                    </div>
                    
                    
                    </div>

                </td>
                <td style="width:80px;background-color:#7FC4FD;color:white">
                 <a href="menueList.html">View Menu</a>
                </td>
            </tr>

            <tr>  
                    <td style="width:75px">
                            <p>Img of Restaurant 2</p> 
                         </td>
                         <td style="text-align:center;">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 2</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img class="dish" src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img class="dish" src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img class="dish" src="../Images/vietnamese-pho.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>

            <tr>
                    <td style="width:75px">
                            <p>Img of Restaurant 3</p> 
                         </td>
                         <td style="text-align:center">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 3</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img src="../Images/kbbq.jpg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img src="../Images/kbbq.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img src="../Images/kbbq.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>

            <tr>
                    <td style="width:75px">
                            <p>Img of Restaurant 4</p> 
                         </td>
                         <td style="text-align:center">
                             <!--want to add js popup modal to show details of food
                                 when user clicks on image-->
                             <div style="display:block;text-align: center">
                                 <a href="menueList.html"><span style="font-size: 40px">Restaurant 4</span></a>
                                 <h4>Menu Preview</h4>
                                 <div style="margin-top:10px">
                                         <figure style="display:inline-block;margin-right: 75px">
                                             <img style="float:left "src="../Images/ramen.jpg" alt="burger" height="85px" width="100px">
                                             <figcaption style="text-align: center">Dish 1</figcaption>
                                         </figure>         
         
                                         <figure style="display:inline-block">
                                             <img src="../Images/ramen.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center">Dish 2</figcaption>
                                         </figure>  
                                         
                                         <figure style="display:inline-block;margin-left: 75px">
                                             <img src="../Images/ramen.jpg" alt="burger" height="85px" width="100px" >
                                             <figcaption style="text-align: center;">Dish 3</figcaption>
                                         </figure>
                                 </div>
                                 
                             </div>
                             
                             
                             </div>
         
                         </td>
                         <td style="width:80px;background-color:#7FC4FD;color:white">
                          <a href="menueList.html">View Menu</a>
                         </td>
            </tr>
        </table>
    </div>

       <!-- The Modal -->
       <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                
                    <img style="float:left" src="../Images/burger.jpg" alt="burger" height="200px" width="200px">
                        <div style="float:right">
                        <h3>Price</h3>
                        <p>$5.00</p>
                        <h3>Dish</h3>
                        <p>This dish is pretty good</p>
                        <h3>Ingredients</h3>
                        <p>Eggs, Wheat, Beef.</p>
                        <form method="POST" action="">
                            <div>
                                <label for="name">Quantity</label>
                                <input type="number" name="partridge" id="partridge" min="0" value="1">
                            </div>
                                <button style="display:inline-block" class="Button">Add to Cart</button>
                        </form>
                    </div>   
            </div> 
        </div>

    <script>
        $(".dish").on("click", function(){
            $(".modal").css('display','block');
        });

        $(".close").on("click",function(){
            $(".modal").css('display','none')
        });   
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>

<!-- <img src="../Images/vietnamese-pho.jpg" alt="pho" height="42" width="42"> -->

<!--  <img src="../Images/kbbq.jpeg" alt="kbbq" height="42" width="42"> -->