<!DOCTYPE html>
<html>

<head>
	<title>WeOrder</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<!-- Note that FOOD_DATA is needed to pull the fake data -->
	<script src="../handlebars-v4.0.12.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../Scripts/FOOD_DATA.js"></script>
	<script src="../Scripts/restaurantListSCRIPT.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>
		/* The Modal (background) */
		
		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;
			/* Location of the box */
			left: 0;
			top: 0;
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */
		}
		/* Modal Content */
		
		.modal-content {
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 45%;
			height: 45%
		}
		/* The Close Button */
		
		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}
		
		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

	</style>

</head>

<body style="margin:0px;background-color:#EEEEEE">
	<!--NavBar-->
	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index.html">WeOrder</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="recentOrders" href="#">Recent Orders</a></li>
				<li><a href="checkoutScreen.html">Cart</a></li>
			</ul>
		</div>
	</nav>

	<!--BreadCrumbs-->
	<div style="text-align:left;padding-left:20px">
		<p> <a href="../index.html" style="color:#FF9C5B">Home</a> > <b style="color:#ed303c">Restaurant List</b> > Menu List > Checkout > Confirmation </p>
	</div>

	<h1 style="text-align:center">Restaurants near <span id="school">UCSD</span></h1>
	<div class="container-fluid" style="width:60%;text-align:left;padding:0px">
		
		<div class="row restaurantList">
			<div class ="col-md-3 col-lg-3" style="padding:0px">
				<figure style="float:left">
						<img class="dish" src="../Images/restaurantPics/innout.jpg" height="250px" width="250px">
				</figure>
			</div>

			<div style="text-align:center;float:center" class ="col-md-7 col-lg-7" >
				<a href="menueList.html"> <span style="font-size: 40px">In n Out</span></a>
				<h4>American Food</h4>
				<h5>in-n-out.com</h5>
				<h5>(800) 786 - 1000</h5>
			</div>

			<div style="float:center" class ="col-md-2 col-lg-2 ">
					<button class="Button viewMenu" style="width:100px;margin-top:35%;margin-right:0px;margin:left0px;float:center">View Menu</button>
			</div>
		</div>

		<div class="row restaurantList">
				<div class ="col-md-3 col-lg-3" style="padding:0px">
					<figure style="float:left">
							<img class="dish" src="../Images/restaurantPics/nishiki.jpg" height="300px" width="250px">
					</figure>
				</div>
	
				<div style="text-align:center;float:center" class ="col-md-7 col-lg-7" >
					<a href="menueList.html"> <span style="font-size: 40px">Nishiki</span></a>
					<h4>Japaneese Food</h4>
					<h5>nishikiramen.com</h5>
					<h5>(800) 786 - 1000</h5>
				</div>
	
				<div style="float:center" class ="col-md-2 col-lg-2 ">
						<button class="Button viewMenu" style="width:100px;margin-top:35%;margin-right:0px;margin:left0px;float:center">View Menu</button>
				</div>
			</div>

			<div class="row restaurantList">
					<div class ="col-md-3 col-lg-3" style="padding:0px">
						<figure style="float:left">
								<img class="dish" src="../Images/restaurantPics/rakkirakki.jpg" height="250px" width="250px">
						</figure>
					</div>
		
					<div style="text-align:center;float:center" class ="col-md-7 col-lg-7" >
						<a href="menueList.html"> <span style="font-size: 40px">Rakki Rakki</span></a>
						<h4>Japaneese Food</h4>
						<h5>rakkirakki.com</h5>
						<h5>(800) 786 - 1000</h5>
					</div>
		
					<div style="float:center" class ="col-md-2 col-lg-2 ">
							<button class="Button viewMenu" style="width:100px;margin-top:35%;margin-right:0px;margin:left0px;float:center">View Menu</button>
					</div>
				</div>

				<div class="row restaurantList">
						<div class ="col-md-3 col-lg-3" style="padding:0px">
							<figure style="float:left">
									<img class="dish" src="../Images/restaurantPics/manna.jpeg" height="250px" width="250px">
							</figure>
						</div>
			
						<div style="text-align:center;float:center" class ="col-md-7 col-lg-7" >
							<a href="menueList.html"> <span style="font-size: 40px">Mana KBBQ</span></a>
							<h4>Korean BBQ</h4>
							<h5>mannabbq.com</h5>
							<h5>(800) 786 - 1000</h5>
						</div>
			
						<div style="float:center" class ="col-md-2 col-lg-2 ">
								<button class="Button viewMenu" style="width:100px;margin-top:35%;margin-right:0px;margin:left0px;float:center">View Menu</button>
						</div>
					</div>
		

	</div>
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3 style="text-align: center">Past Orders</h3>

			<table id="recentOrderItems" style="width:90%" align="center">
				<tr id="noRecentOrder">
					<td>
						<p style="text-align:center">No Past Orders</p>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<!-- Template for Cart List-->
	<script id="recentOrderTemplate" type="text/x-handlebars-template">
		<tr>
			<td style="text-align:center">
				<p>{{[prevOrder]}}</p>
			</td>
		</tr>
	</script>

	<script>
		/*Go to Menu*/
		$(".viewMenu").click(function() {			
			location.href = "menueList.html";
		});

		/* Changes School Text */
		var uni = JSON.parse(sessionStorage.getItem('school'))
		if (uni != null) {
			$("#school").html(uni.schoolName);
		}

		$(".dish").on("click", function() {
			$(".modal").css('display', 'block');
		});

		$(".close").on("click", function() {
			$(".modal").css('display', 'none')
		});

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		/* @@@@@ Modal Window @@@@@ */
		$("#recentOrders").on("click", function() {
			$(".modal").css('display', 'block');
		});

		$(".close").on("click", function() {
			$(".modal").css('display', 'none')
		});

		// When the user clicks anywhere outside of the modal, close it
		$(window).click(function(event) {
			if (event.target == $(".modal")) {
				$(".modal").css("display", "none");
			}
		});


		/* @@@@@ Modal Content @@@@@ */
		//Local Storage: Cart Data
		var cartData = JSON.parse(sessionStorage.getItem('orders'));

		var validCart = JSON.parse(sessionStorage.getItem('orders'));

		//Handlebars Variables
		var sourceRecentOrder = $("#recentOrderTemplate").html();
		var templateRecentOrder = Handlebars.compile(sourceRecentOrder);
		var parentCartDiv = $("#recentOrderItems");


		// No Items Message + confirmation button   
		if (validCart != null) {
			$("#noRecentOrder").css('visibility', 'hidden');

			//Prints out current cart list
			for (var i = cartData.length - 1; i >= 0; i--) {
				var curOrder = cartData[i].prevOrder.split("");

				var curData = cartData[i];
				var curHtml = templateRecentOrder(curData);
				parentCartDiv.append(curHtml);
			}

		} else {
			$("#noRecentOrder").css('visibility', 'visible');
			$("#itemPresent").css('visibility', 'hidden');
		}

		$("#recentOrderItems").find("tr").eq(1).css("color", "red");

	</script>

</body>

</html>
